*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  image-rendering: optimizeSpeed;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1420px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1350px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 46%;
  }
}

body {
  padding: 3rem;
}
@media (max-width: 1350px) {
  body {
    padding: 2rem;
  }
}
@media (max-width: 1300px) {
  body {
    padding: 0rem;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  75% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 600px) {
  .heading-primary--main {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .heading-primary--main {
    font-size: 4.5rem;
    letter-spacing: 1.5rem;
  }
}
@media (max-width: 400px) {
  .heading-primary--main {
    font-size: 4rem;
    letter-spacing: 2rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@media (max-width: 600px) {
  .heading-primary--sub {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .heading-primary--sub {
    letter-spacing: 1rem;
    font-size: 1.3rem;
  }
}

.heading-secondary {
  text-align: center;
  backface-visibility: hidden;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #28b485, #7ed56f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.heading-secondary:hover {
  transform: skewX(6deg) skewY(2deg) scale(1.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.pera {
  font-size: 1.5rem;
  line-height: 1.6;
}
@media (max-width: 600px) {
  .pera {
    line-height: 1.8;
  }
}

.center-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.story {
  transform: skewX(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4rem 6rem;
  width: 70%;
}
@media (max-width: 1300px) {
  .story {
    padding: 3rem 4rem;
    width: 75%;
  }
}
@media (max-width: 1000px) {
  .story {
    padding: 4rem;
    width: 90%;
    transform: skewX(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .story {
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .story {
    padding: 6rem 2rem;
    width: 100%;
  }
}
.story > * {
  transform: skewX(10deg);
}
@media (max-width: 1000px) {
  .story > * {
    transform: skewX(0);
  }
}
.story__figure {
  margin-right: 2rem;
  display: block;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  float: left;
  width: 16rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .story__figure {
    shape-outside: none;
    clip-path: none;
    border-radius: 4px;
    width: 100rem;
    overflow: visible;
  }
}
@media (max-width: 750px) {
  .story__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4rem;
    margin-right: 0rem;
  }
}
.story__img {
  transform: translateX(-2.5rem);
  height: 100%;
  transition: filter 0.4s ease-in;
}
@media (max-width: 750px) {
  .story__img {
    transform: translateX(0);
    width: 90%;
    height: auto;
  }
}
.story___heading {
  margin-bottom: 2rem;
}
.story__caption {
  line-height: 1.3;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
  width: 50%;
  font-size: 2rem;
  color: #fff;
  transition: opacity 0.4s, transform 0.4s;
  transform: translateX(4rem);
}
@media (max-width: 1000px) {
  .story__caption {
    transform: translateX(-1.2rem) translateY(2rem);
    opacity: 1;
    color: #777;
    width: 100%;
  }
}
.story:hover .story__caption {
  transform: translateY(-11rem) translateX(4rem);
  opacity: 1;
}
@media (max-width: 1000px) {
  .story:hover .story__caption {
    transform: translateX(-1.2rem) translateY(2rem);
  }
}
.story:hover .story__img {
  filter: blur(3px) brightness(88%);
}
@media (max-width: 1000px) {
  .story:hover .story__img {
    filter: none;
  }
}

.showcase__container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  .showcase__container {
    flex-direction: column;
    align-items: center;
  }
}
.showcase__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
@media (max-width: 1000px) {
  .showcase__box:not(:first-child) {
    margin-top: 4rem;
  }
}
.showcase__box:hover {
  transform: scale(1.06);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.showcase__icon {
  display: block;
  height: 8rem;
  width: 8rem;
  font-size: 5rem;
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  border-radius: 100rem;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.265);
}
.btn:hover::after {
  transform: scalex(1.5) scaleY(1.8);
  opacity: 0;
  z-index: 1;
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.502);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.2s;
}
.btn__main {
  color: #777;
}
.btn__main--white {
  background-color: #fff;
}
.btn__main--white::after {
  background-color: #fff;
}
.btn__main--green {
  color: #fff;
  background-color: #55c57a;
}
.btn__main--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}
.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #7ed56f;
  padding: 0.2rem 0.6rem;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-0.6rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.265);
}
.btn-text:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.265);
}

.title-and-info:not(:last-child) {
  margin-bottom: 2rem;
}
.title-and-info--heading {
  margin-bottom: 1.2rem;
}
@media (max-width: 1000px) {
  .title-and-info {
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .title-and-info {
    max-width: 90%;
    text-align: center;
  }
}

.composition {
  position: relative;
  width: 100%;
}
@media (max-width: 1000px) {
  .composition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}
.composition__img {
  display: inline-block;
  position: absolute;
  outline-offset: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}
@media (max-width: 1000px) {
  .composition__img {
    width: 22rem;
    position: relative;
    top: 0;
  }
}
@media (max-width: 600px) {
  .composition__img {
    width: 30%;
  }
}
.composition__img:hover {
  outline: 2rem solid #55c57a;
  z-index: 10;
  transform: scale(1.1);
}
.composition__img--1 {
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 1000px) {
  .composition__img--1 {
    left: 2rem;
  }
}
.composition__img--2 {
  top: 15rem;
  left: 15rem;
}
@media (max-width: 1000px) {
  .composition__img--2 {
    top: -4rem;
    left: 0;
    z-index: 20;
  }
}
.composition__img--3 {
  top: 5rem;
  left: 25rem;
  z-index: 2;
}
@media (max-width: 1000px) {
  .composition__img--3 {
    top: 0;
    left: -2rem;
  }
}
.composition:hover .composition__img:not(:hover) {
  transform: scale(0.9);
}

.cards__box-container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1100px) {
  .cards__box-container {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  width: 28%;
  height: 50rem;
  perspective: 150rem;
  position: relative;
}
@media (max-width: 1350px) {
  .card {
    width: 30%;
    height: 52rem;
  }
}
@media (max-width: 1100px) {
  .card {
    width: 35%;
    height: 52rem;
  }
  .card:not(:first-child) {
    margin-top: 10rem;
  }
}
@media (max-width: 1000px) {
  .card {
    width: 38rem;
    height: 55rem;
  }
}
@media (hover: none) and (pointer: coarse) {
  .card {
    height: auto;
    box-shadow: 0 0.5rem 2rem rgba(119, 119, 119, 0.2);
  }
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
@media (hover: none) and (pointer: coarse) {
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__side {
  box-shadow: 0 0.5rem 2rem rgba(119, 119, 119, 0.2);
}
.card__side--front {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
@media (hover: none) and (pointer: coarse) {
  .card__side--front {
    position: relative;
    padding-bottom: 2rem;
    height: auto;
  }
}
.card__side--front-1 .card__head {
  background-image: linear-gradient(#ff7730, #ffb900), url("../../img/nat-4.jpg");
}
.card__side--front-2 .card__head {
  background-image: linear-gradient(#28b485, #7ed56f), url("../../img/nat-5.jpg");
}
.card__side--front-3 .card__head {
  background-image: linear-gradient(#5643fa, #2998ff), url("../../img/nat-6.jpg");
}
.card__side--back {
  transition: transform 0.5s ease-in;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media (hover: none) and (pointer: coarse) {
  .card__side--back {
    transform: rotateY(0);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-top: -3rem;
    z-index: -200;
    height: auto;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  }
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ff7730, #ffb900);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #28b485, #7ed56f);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__back-text--sub {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.card__back-text--main {
  font-size: 6rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  text-align: center;
}
.card__head {
  height: 20rem;
  background-image: linear-gradient(#ffb900, #ff7730), url("../../img/nat-5.jpg");
  background-blend-mode: screen;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}
.card__heading {
  position: absolute;
  top: 9rem;
  right: 1rem;
  display: block;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  width: 75%;
  line-height: 1.7;
  text-align: right;
}
.card__heading--1 span {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.7));
}
.card__heading--2 span {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.7));
}
.card__heading--3 span {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.7));
}
.card__heading span {
  box-decoration-break: clone;
  padding: 0.7rem 2rem;
}
.card__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card__list {
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
}
.card__list p {
  font-size: 1.6rem;
}
.card__list-items {
  padding: 0.9rem 0;
}
.card__list-items:not(:last-child) {
  border-bottom: 1px dotted rgba(119, 119, 119, 0.6);
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  object-fit: fill;
}

.booking__form--container {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 55%, transparent 45%), url("../../img/nat-10.jpg");
  padding: 4rem;
}
@media (max-width: 1350px) {
  .booking__form--container {
    padding: 0rem;
  }
}
@media (max-width: 1100px) {
  .booking__form--container {
    padding: 2rem;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 74%, transparent 45%), url("../../img/nat-10.jpg");
  }
}
@media (max-width: 1000px) {
  .booking__form--container {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%, transparent 45%), url("../../img/nat-10.jpg");
  }
}
@media (max-width: 750px) {
  .booking__form--container {
    padding: 0.2rem;
  }
}
.booking__form {
  width: 50%;
  height: 45rem;
  padding: 4rem;
}
@media (max-width: 1350px) {
  .booking__form {
    padding: 3rem;
    width: 60%;
    height: 50rem;
  }
}
@media (max-width: 1100px) {
  .booking__form {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .booking__form {
    width: 100%;
    align-items: center;
  }
}
.booking__form .form__radio {
  display: none;
}
.booking__form .form__radio-box {
  display: inline-block;
}
.booking__form .form__radio-box:not(:first-child) {
  margin-left: 2rem;
}
.booking__form .form__radio:checked ~ .form__radio-label::after {
  display: inline-block;
}
.booking__form .form__radio-label {
  position: relative;
  padding-left: 30px;
  font-size: 1.4rem;
}
.booking__form .form__radio-label::before {
  position: absolute;
  top: -5px;
  left: 0;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid #55c57a;
  border-radius: 50%;
}
.booking__form .form__radio-label::after {
  position: absolute;
  top: -1px;
  left: 4px;
  display: none;
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #55c57a;
}
.booking__form .form__group {
  position: relative;
  margin-top: 4rem;
}
.booking__form .form__input {
  transition: all 0.4s;
  border-radius: 2px;
  display: inline-block;
  width: 90%;
  padding: 1.2rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  color: rgba(0, 0, 0, 0.419);
}
.booking__form .form__input:focus {
  border-bottom: 3px solid #ff7730;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.booking__form .form__input:not(:placeholder-shown) ~ .input__label {
  opacity: 1;
  transform: translateY(35px);
}
.booking__form .form__input:not(:placeholder-shown):valid {
  border-bottom: 3px solid #55c57a;
}
.booking__form .form__input ~ .input__label {
  color: #000;
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 3;
  opacity: 0;
  transition: all 0.4s;
}

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-color: orange;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 6rem) / 3) + 6rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 *6rem) / 4) + 6rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem
    );
}

.header {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 1200px) {
  .header {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.header__logo {
  width: 100%;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 6rem;
}
.header__main-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.navigation #navigation__toggle {
  display: none;
}
.navigation #navigation__toggle:checked ~ .navigation__background {
  transform: scale(50);
}
.navigation #navigation__toggle:checked ~ .navigation__list {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.navigation #navigation__toggle:checked ~ .navigation__icon-box .navigation__icon {
  width: 0;
}
.navigation #navigation__toggle:checked ~ .navigation__icon-box .navigation__icon::before {
  transform: translateY(-10px) rotate(50deg);
}
@media (max-width: 600px) {
  .navigation #navigation__toggle:checked ~ .navigation__icon-box .navigation__icon::before {
    transform: translateY(-11px) rotate(50deg);
  }
}
.navigation #navigation__toggle:checked ~ .navigation__icon-box .navigation__icon::after {
  transform: translateY(-26px) rotate(-50deg);
}
@media (max-width: 600px) {
  .navigation #navigation__toggle:checked ~ .navigation__icon-box .navigation__icon::after {
    transform: translateY(-23px) rotate(-50deg);
  }
}
.navigation__background {
  transition: all 0.5s;
  display: inline-block;
  position: fixed;
  top: 70px;
  right: 40px;
  z-index: 98;
  background-color: #55c57a;
  border-radius: 50%;
  width: 69px;
  height: 69px;
}
.navigation .navigation__icon-box {
  display: inline-block;
  position: fixed;
  top: 70px;
  right: 40px;
  z-index: 100;
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.368);
}
.navigation .navigation__icon-box:hover .navigation__icon::after {
  transform: translateY(-13px);
}
@media (max-width: 1350px) {
  .navigation .navigation__icon-box:hover .navigation__icon::after {
    transform: translateY(-11px);
  }
}
@media (max-width: 600px) {
  .navigation .navigation__icon-box:hover .navigation__icon::after {
    transform: translateY(-6px);
  }
}
.navigation .navigation__icon-box:hover .navigation__icon::before {
  transform: translateY(-23px);
}
@media (max-width: 1350px) {
  .navigation .navigation__icon-box:hover .navigation__icon::before {
    transform: translateY(-20px);
  }
}
@media (max-width: 600px) {
  .navigation .navigation__icon-box:hover .navigation__icon::before {
    transform: translateY(-20px);
  }
}
.navigation__icon {
  transform: translate(18px, 35px);
}
@media (max-width: 1350px) {
  .navigation__icon {
    transform: translate(20px, 36px);
  }
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  transform-origin: center;
  transition: all 0.2s;
  backface-visibility: hidden;
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #000;
  z-index: 101;
}
.navigation__icon::before {
  transform: translateY(-20px);
}
@media (max-width: 1350px) {
  .navigation__icon::before {
    transform: translateY(-17px);
  }
}
@media (max-width: 600px) {
  .navigation__icon::before {
    transform: translateY(-17px);
  }
}
.navigation__icon::after {
  transform: translateY(-16px);
}
@media (max-width: 1350px) {
  .navigation__icon::after {
    transform: translateY(-15px);
  }
}
@media (max-width: 600px) {
  .navigation__icon::after {
    transform: translateY(-9px);
  }
}
.navigation__list {
  font-weight: 100;
  opacity: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100rem, -50%);
  z-index: 1000;
  list-style: none;
  transition: transform 0.5s;
  text-transform: uppercase;
}
.navigation__link {
  display: block;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  background-position: 180%;
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  transition: all 0.4s;
}
.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
}

.footer {
  padding: 8rem 2rem;
  background-color: rgb(36, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  height: 130px;
}
@media (max-width: 1420px) {
  .footer__logo {
    height: 100px;
  }
}
@media (max-width: 1420px) {
  .footer {
    padding: 4rem 2rem;
  }
}
@media (max-width: 900px) {
  .footer {
    padding: 8rem 0rem;
  }
}
.footer .footer__item {
  width: 30%;
  font-size: 1.4rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(139, 139, 139, 0.281);
}
@media (max-width: 1420px) {
  .footer .footer__item {
    font-size: 1.6rem;
    width: 40%;
  }
}
@media (max-width: 900px) {
  .footer .footer__item {
    width: 70%;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__content__box {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .footer__content__box {
    flex-direction: column;
    align-items: center;
  }
  .footer__content__box > *:not(:first-child) {
    margin-top: 2rem;
  }
}
.footer__link:link, .footer__link:visited {
  font-size: 1.1rem;
  color: rgb(196, 196, 196);
  text-decoration: none;
  text-transform: uppercase;
  transform: skewY(0) scale(1);
}
@media (max-width: 1420px) {
  .footer__link:link, .footer__link:visited {
    font-size: 1.3rem;
  }
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  transform: skewY(5deg) scale(1.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.section-about {
  overflow: hidden;
  padding-top: 24rem;
  padding-bottom: 20rem;
  margin-top: -14rem;
  background-color: #fafafa;
  z-index: 1;
}
@media (max-width: 1000px) {
  .section-about {
    display: flex;
    flex-direction: column;
  }
}
.section-about .about--box {
  margin: 0 auto;
  margin-top: 4rem;
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .section-about .about--box {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .section-about .about--box {
    width: 100%;
  }
}
.section-about .about--content-box {
  flex-basis: 45%;
  padding-right: 4rem;
}
@media (max-width: 1000px) {
  .section-about .about--content-box {
    padding: 0;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .section-about .about--content-box {
    width: 100%;
    align-items: center;
  }
}
.section-about .about--composition-box {
  flex-basis: 45%;
}
@media (max-width: 1000px) {
  .section-about .about--composition-box {
    width: 100%;
  }
}

.section-features {
  padding: 20rem 8rem;
  margin-top: -6rem;
  transform: skewY(-6deg);
  background-image: linear-gradient(rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/nat-4.jpg");
}
.section-features .feature-content-box {
  transform: skewY(6deg);
}
@media (max-width: 1100px) {
  .section-features {
    padding: 20rem 2rem;
  }
}
@media (max-width: 1000px) {
  .section-features {
    padding: 10rem 2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .section-features {
    padding: 10rem 0rem;
  }
}

.section-tours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 24rem 0 7rem 0;
  margin-top: -12rem;
  background-color: #fafafa;
}
.section-tours .tour-box {
  margin: 10rem auto;
  width: 83%;
}

.section-stories {
  position: relative;
  padding: 14rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-stories > *:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 600px) {
  .section-stories {
    padding: 6rem;
  }
}

.section-booking-form {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 10rem 20rem;
}
@media (max-width: 750px) {
  .section-booking-form {
    padding: 10rem 2rem;
  }
}
@media (max-width: 600px) {
  .section-booking-form {
    padding: 10rem 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
