.composition {
  position: relative;
  width: 100%;

  @include respond(1000) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  &__img {
    display: inline-block;
    position: absolute;
    outline-offset: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: all 0.4s;
    @include respond(1000) {
      width: 22rem;
      position: relative;
      top: 0;
    }
    @include respond(600) {
      width: 30%;
    }
    &:hover {
      outline: 2rem solid $color-primary;
      z-index: 10;
      transform: scale(1.1);
    }
    &--1 {
      top: 0;
      left: 0;
      z-index: 1;
      @include respond(1000) {
        left: 2rem;
      }
    }
    &--2 {
      top: 15rem;
      left: 15rem;
      @include respond(1000) {
        top: -4rem;
        left: 0;
        z-index: 20;
      }
    }
    &--3 {
      top: 5rem;
      left: 25rem;
      z-index: 2;
      @include respond(1000) {
        top: 0;
        left: -2rem;
      }
    }
  }
  &:hover &__img:not(:hover) {
    transform: scale(0.9);
  }
}
