.title-and-info {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &--heading {
    margin-bottom: 1.2rem;
  }
  @include respond(1000) {
    max-width: 400px;
  }
  @include respond(600) {
    max-width: 90%;
    text-align: center;
  }
}
